@import "tailwindcss";

@theme {
  --color-primary: #151515;
  --color-brand-yellow: #DFFF00;
  --color-accent: #DFFF00;
  --color-accent-light: #E9FF4D;
  --color-dark-bg: #151515;
  --color-darker-bg: #101010;
  --color-card-bg: #1A1A1A;
  --color-card-hover-bg: #222222;
  --color-text-light: #A3A3A3;
  --color-text-lighter: #E5E5E5;
  --color-border-color: #2A2A2A;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-dark-bg text-white font-sans;
  }
}